.around{
	background-image: url("../Images/bg.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center; 
    height: 800px;
}

.logoplace{
	width: 300px;
	margin-left: 30%;
	margin-top: 20px;
}

.headertxt{
	width: 900px;
	margin: 0 auto;
	margin-top: 250px;
	font-size: 5em;
	color: white;
	text-shadow:    
	3px  3px 3px black,
    3px -3px 3px black,
   -3px  3px 3px black,
   -3px -3px 3px black;
}
