.around {
	background-image: url("../Images/bg.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center; 
    height: 800px;
}

.logoplace {
	width: 300px;
	margin: 0 auto;
	margin-top: 50px;
}

.arrows {
	font-size: 2em;
	margin-top: 230px;
	margin-right: 30px;
	text-shadow:
	2px 2px 2px white,
	2px -2px 2px white,
	-2px 2px 2px white,
	-2px -2px 2px white;
}

.headertxt {
	width: 590px;
	margin: 0 auto;
	margin-top: -70px ;
	font-size: 400%;
	color: white;
	text-shadow:    
	3px  3px 3px black,
    3px -3px 3px black,
   -3px  3px 3px black,
   -3px -3px 3px black;
}

    /* second around */

.secondaround {
	height: 800px;
    background-color: green;
}

.menu {
	text-align: center;
	margin: 0 auto;
}